.slider {
    padding-top: 15px;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > article {
    scroll-snap-align: start;
    flex-shrink: 0;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
}
